<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biodiversidap</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20,300,0,0" />
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/swiper-bundle.min.css') }}" />
</head>

<body>

    <div class="screenprincipal" id="ScreenPrinciapal">
        <a class="boxmenu" href="{{ url_for('estadisticas')}}">
            <span class="material-symbols-rounded">query_stats</span>
        </a>

        <!-- Imagenes temportales utiles para testing, remplazar en caso de uso comercial aunque la imagen es de uso libre -->
        <div class="boxfondo" style="background-image: url(https://mediaim.expedia.com/destination/1/03ad72e8b1a13deb96b9121d5c64df5f.jpg);">
            <div class="layerfondo"></div>
        </div>

        <div class="buttomNav">
            <a href="{{ url_for('home') }}" class="itemnav">
                <span class="material-symbols-rounded">home</span>
            </a>
            <a href="{{ url_for('mapa') }}" class="itemnav">
                <span class="material-symbols-rounded">map</span>
            </a>
            <a href="{{ url_for('blog') }}" class="itemnav">
                <span class="material-symbols-rounded">newsstand</span>
            </a>
        </div>

        <div class="bostitle">
            <h1 class="titulo">Biodiversidad</h1>
            <h1 class="subtitulo">Boyacá y Cundinamarca</h1>
            <p class="labeltitulo">Nuestra mayor riqueza</p>
        </div>

        <a class="boxfavoritos" href="{{ url_for('favoritos') }}">
            <div class="boxheart">
                <span class="material-symbols-rounded">favorite</span>
            </div>
            <div class="favoritetext">
                <p class="favoritesubtitle">Mis</p>
                <p class="favoritetitle">Favoritos</p>
            </div>
        </a>

        <div class="boxanimales">
            <p class="animalestitle"> Especies Animales</p>
            <a href="{{ url_for('animal') }}" class="linkmasanimales">
                <p class="masalinaleslink">Ver todos</p>
            </a>
        </div>

        <!-- Swiper -->
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <!-- contenido dinamico -->
            </div>
        </div>

        <div class="boxplantas">
            <p class="plantastitle"> Especies plantas</p>
            <a href="{{ url_for('plantas') }}" class="linkmasplantas">
                <p class="masplantaslink">Ver todas</p>
            </a>
        </div>

        <!-- Swiper vegetales -->
        <div class="swiper2 mySwiper2">
            <div class="swiper-wrapper">
                <!-- contenido dinamico -->
            </div>
        </div>
    </div>

     <!-- pantalla para ver los detalles de cada especie -->
    <div class="screendetall hide" id="ScreenDetail">
        <div class="boxatras" onclick="hideDetailScreen()">
            <span class="material-symbols-rounded">navigate_before</span>
            <p>Atrás</p>
        </div>
        <div class="contentdetail">
            <div class="col1">
                <div class="boxfondodetaill" id="detalleImagen">
                    <div class="layerfondodetail"></div>
                </div>
                <div class="boxdetail">
                    <h1 class="titulodetaill" id="detalleNombre">Nombre</h1>
                    <h1 class="subtitulodetaill">Especie nativa</h1>
                </div>
            </div>
            <div class="col2">
                <div class="contenidodetail">
                    <div class="boxlocFav">
                        <div class="boxlocation">
                            <div class="boxiconlocationdetail">
                                <span class="material-symbols-rounded">location_on</span>
                            </div>
                            <div class="locationdetails">
                                <p class="locationtext" id="locationtext">Cocui</p>
                                <p class="detartamento" id="detartamento">Boyáca</p>
                            </div>
                        </div>
                    </div>
                    <div class="contenttextdetail">
                        <p id="detalleDescripcion">Descripción</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/swiper-bundle.min.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>
